<!-- This page tells the user wnat the website is about -->

{% extends "base.html" %}

{% block title%}
    <title>About this website</title>
{% endblock %}

{% block content %}
    <div class="textcontainer">
        <h1>About this site</h1>
        <ul>
            <li>
                I decided to learn Flask & Python so here is my first website, it basically shows all the projects I've worked on (not necessarily programming related)
            </li>
            <li>
                It has login functionality and uses SQLAlchemy for the database so I can add, edit, or delete pages as they are needed.
            </li>
            <li>
                I also learned a lot about CSS and Bootstrap when making this website although to be honest aligning things properly is still tricky.
            </li>
            <li>The background photo is from <a href="https://unsplash.com/">Unsplash</a></li>
            <li>When I deploy the website I'll put the code on Github too.</li>
            <li>Email me at: <a href="mailto:thisiskaihua@gmail.com">thisiskaihua@gmail.com</a></li>
        </ul>

    </div>


{% endblock %}